[submodule "Yolo8"]
	path = Yolo8
	url = https://github.com/theATM/yolov8.git
[submodule "GeoNotebook"]
	path = GeoPreviousWork
	url = https://github.com/theATM/geo-detection-notebook.git
[submodule "Detectron2"]
	path = Detectron2
	url = https://github.com/theATM/Detectron2.git
[submodule "NviSSD"]
	path = NviSSD
	url = https://github.com/theATM/NviSSD.git
[submodule "Detr"]
	path = Detr
	url = https://github.com/theATM/detr.git
[submodule "MMDetection"]
	path = MMDetection
	url = https://github.com/theATM/mmdetection.git
